apiVersion: v1
data:
  config.yaml: |
    branch-protection:
      protect-tested-repos: true
    github:
      LinkURL: null
    in_repo_config:
      enabled:
        lfs268-eeganlf/jx3-gke-gsm: true
        lfs268-eeganlf/lfs268-pipeline-lab: true
    plank: {}
    pod_namespace: jx
    prowjob_namespace: jx
    push_gateway:
      serve_metrics: true
    tide:
      context_options:
        from-branch-protection: true
        required-if-present-contexts: null
        skip-unknown-contexts: false
      merge_method:
        lfs268-eeganlf/jx3-gke-gsm: merge
        lfs268-eeganlf/lfs268-pipeline-lab: merge
      queries:
      - labels:
        - approved
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - lfs268-eeganlf/jx3-gke-gsm
        - lfs268-eeganlf/lfs268-pipeline-lab
      - labels:
        - updatebot
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - lfs268-eeganlf/jx3-gke-gsm
        - lfs268-eeganlf/lfs268-pipeline-lab
      target_url: http://lighthouse-jx.34.68.233.33.nip.io/merge/status
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: config
  namespace: jx
  labels:
    gitops.jenkins-x.io/pipeline: 'namespaces'
